.signup {
		display: flex;
  		flex-direction: column;
  		justify-content: center;
  		align-items: center;
  		text-align: center;
  		min-height: 100vh;
  		font-family: Square Peg;


	}
	.form-signin{
		border-color: green;
		border-style: solid;
		width: auto;
		height: auto;
	}
	input {
  		margin-bottom: 7px;
  		padding-top: 3px;
  		padding-right: 3px;
  		padding-left: 3px;
  		padding-bottom: 3px;
  		text-align: center;
  		width: auto;
  		height: 20px;
	}
	input[type="submit"]{
		
	}
	::placeholder {
		font-family: Square Peg;
		font-size: 25px;
	}