	.login {
		display: flex;
  		flex-direction: column;
  		justify-content: center;
  		align-items: center;
  		text-align: center;
  		min-height: 200px;
  		font-family: Square Peg;

	}
	.form-login{
		border-color: green;
		border-style: solid;
		width: 300px;
		height: auto;
		font-size: 25px;
		font-weight: bold;
		border-radius: 10px;
	}
	input[type="text"] {
		margin-top: 3px;
  		margin-bottom: 3px;
  		padding-top: 3px;
  		padding-right: 3px;
  		padding-left: 3px;
  		padding-bottom: 3px;
  		text-align: center;
  		width: 280px;
  		height: 30px;
  		transition: 0.15s;
  		font-family: Roboto;
  		font-size: 25px;
	}
	input[type="password"] {
		margin-top: 3px;
  		margin-bottom: 3px;
  		padding-top: 3px;
  		padding-right: 3px;
  		padding-left: 3px;
  		padding-bottom: 3px;
  		text-align: center;
  		width: 280px;
  		height: 30px;
  		transition: 0.15s;
  		
  		

	}
	input:hover {
		border-color: green;

	}
	input:active {
		opacity: 0.7;
	}
	input[type="submit"]{
		margin-bottom: 10px;
		margin-top: 10px;
		border-radius: 10px;
		background-color: green;
		color: white;
		border: none;
		padding-top: 10px;
		padding-left: 16px;
		padding-right: 16px;
		padding-bottom: 10px;
		font-family: square peg;
		font-weight: bold;
		font-size: 25px;
		cursor: pointer;
		transition: 0.15s;
		vertical-align: top;
	}
	input[type="submit"]:hover {
		background-color: white;
		border-color: green;
		color: green;
	}
	::placeholder {
		font-family: Square Peg;
		font-size: 25px;
		font-weight: bold;
	}
