main {
	font-family: square peg;
	width: 80%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	min-height: 700px;
	border-style: solid;
	border-color: green;
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	flex-direction: row;
  	text-align: center;
	  background-color: whitesmoke;
}
.challenges {
	display: flex;
	flex-direction: column;
	min-height: 700px;
	width: 50%;
	/* flex-grow: 3; */
	overflow-y: auto;
	border-style: none;
	border-color: black;
	margin-right: 20px;
}
#chat {
	flex-grow: 6;
	display: flex;
	flex-direction: column;
	max-height: 500px;
	
	overflow: auto;
	float: right;

	overflow-x: hidden;

	border-style: hidden;
	border-color: darkgrey;
	background-image: url(./Media/istockphoto-514941228-612x612.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}

.your_challenges,.other_challenges{
	border-style: hidden;
	text-align: center;
	display: flex;
	flex-direction: column;
}



div[id^="challenge_active_"] ,.challenge{
    height: auto;
    width: 80%;
    border-style:ridge;
	background-color: #90EE90;
	color: #35682d;
    cursor: pointer;
    margin: auto;
	margin-top:5px ;
	margin-bottom: 5px;
	font-weight: bolder;
	transition: all 0.6s ease;
	border-radius: 5px;
}
div[id^="challenge_active_"]:hover{
	background-color: #35682d;
	color: white;
}
.challenge_text{
	margin-top: 20px;
	font-family: Arial, Helvetica, sans-serif;

}
.challenge-button{
	width: auto;
	height: auto;
	padding: 6px 4px 6px 4px;
	color: white;
	background-color:#35682d ;
	transition: all 0.6s ease;
	margin-left: 20px;
	border-radius: 10px;
}
.challenge-button:hover{
	background-color: white;
	color: #35682d;

}
.challenge_buttons{
	display: flex;
	align-content: center;
	margin-left: 120px;
	height: auto;
	margin-top: 20px;
}
#chat_banner{
	display: none;
	border-style: hidden;
    border-color: black;
}

#send_message{
	display: flex;
	margin: auto;
	align-content: center;
	
	border-style: hidden;
    border-color: black;
}

.msg{
	display: flex;
	max-width: 200px;
	min-height: auto;
	flex-direction: row;
}
.user_msg{
	display: flex;
	max-width: 200px;
	min-height: auto;
	flex-direction: row;
	margin-inline-start: auto;
	justify-content: flex-end;
}
.msg_text{
	text-align: -webkit-center;
	border-style: none;
	background-color: lightgreen;
	border-radius: 40%;
	align-items: center;
	display: flex;
	font-size: 24px;
	padding: 5px 5px;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.msg_text_r{
	text-align: -webkit-center;
	border-style: none;
	background-color: lightblue;
	border-radius: 40%;
	align-items: center;
	display: flex;
	font-size: 24px;
	padding: 5px 5px;
	padding-top: 2px;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#send-btn{
	background-color: #35682d;
	border: none;
	display: inline-block;
	text-align: center;
	font-size: 16px;
	border-radius: 10px;
}

