main {
	font-family: square peg;
	width: 80%;
	margin-top: 10px;
	margin-left: 100px;
	height: 700px;
	border-style: solid;
	border-color: green;
	display: flex;
	flex-direction: row;
  	text-align: center;
}
.challenges {
	display: flex;
	flex-direction: column;
	height: 700px;
	/* flex-grow: 3; */
	overflow-y: hidden scroll;
	border-style: none;
	border-color: black;
	margin-right: 20px;
}
#chat {
	flex-grow: 6;
	display: flex;
	flex-direction: column;
	height: 700px;
	overflow-y: scroll;
	border-style: solid;
	border-color: darkgrey;
	/*background-image: url(./Media/istockphoto-514941228-612x612.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-color: green;
	/**/
}

.your_challenges{
	border-style: hidden;
	text-align: center;
	display: flex;
	flex-direction: column;
}
div[id^="challenge_active_"] {
    height: 70px;
    width: 300px;
    border-style: hidden;
	background-color: #ccc;
    cursor: pointer;
    margin: 10px;
	border-radius: 20%;
}
.challenge_text{
	margin-top: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

#chat_banner{
	flex-grow: 1.5;
	border-style: solid;
    border-color: black;

}
#send_message{
	flex-grow: 1;
	border-style: solid;
    border-color: black;
}
