main {
	font-family: square peg;
	width: 80%;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	min-height: 700px;
	border-style: solid;
	border-color: green;
	display: flex;
	display: -webkit-box;
	display: -webkit-flex;
	flex-direction: row;
  	text-align: center;
	  background-color: whitesmoke;
}
.challenges {
	display: flex;
	flex-direction: column;
	min-height: 700px;
	width: 50%;
	/* flex-grow: 3; */
	overflow-y: auto;
	border-style: none;
	border-color: black;
	margin-right: 20px;
}
#chat {
	flex-grow: 6;
	display: flex;
	flex-direction: column;
	max-height: 500px;
	max-width: 400px;
	overflow: auto;
	float: right;

	border-style: hidden;
	border-color: darkgrey;
	background-image: url(./Media/istockphoto-514941228-612x612.jpeg);
	background-size: cover;
	background-repeat: no-repeat;
}

.your_challenges{
	border-style: hidden;
	text-align: center;
	display: flex;
	flex-direction: column;
}

.challenge{
	display: flex;
	flex-direction: row;
}

div[id^="challenge_active_"] {
    height: 70px;
    width: 80%;
    border-style:ridge;
	background-color: #ccc;
    cursor: pointer;
    margin: auto;
	border-radius: 50%;
}
.challenge_text{
	margin-top: 20px;
	font-family: Arial, Helvetica, sans-serif;
}

#chat_banner{
	display: none;
	border-style: hidden;
    border-color: black;
}

#send_message{
	display: flex;
	margin: auto;
	align-content: center;
	
	border-style: hidden;
    border-color: black;
}

.msg{
	display: flex;
	max-width: 200px;
	min-height: auto;
	flex-direction: row;
}
.user_msg{
	display: flex;
	max-width: 200px;
	min-height: auto;
	flex-direction: row;
	margin-inline-start: auto;
}
.msg_text{
	text-align: -webkit-center;
	border-style: none;
	background-color: lightgreen;
	border-radius: 40%;
	align-items: center;
	display: flex;
	font-size: 24px;
	padding: 5px 5px;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.msg_text_r{
	text-align: -webkit-center;
	border-style: none;
	background-color: greenyellow;
	border-radius: 40%;
	align-items: center;
	display: flex;
	font-size: 24px;
	padding: 5px 5px;
	font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#send-btn{
	background-color: #35682d;
	border: none;
	display: inline-block;
	text-align: center;
	font-size: 16px;
	border-radius: 10px;
}

